html {
  width: 500px;
  height: 200px;
}

body {
  height: 200px;
  margin: 0;
  padding: 0;
  color: #6E6E6E;
  background-color: #F3F3F3;
}

#status {
  position: relative;
  margin: 10px 10px 0;
}

#status .alert {
  margin-bottom: 0;
  position: absolute;
  top: 0;right: 0;left:0;
}

body.is-logged-out #main {
  display: none;
}

input:not([type="image"]) {
  box-sizing: inherit;
}

input:not([type="image"]) {
  box-sizing: inherit;
}

.clip-form {
  margin: 0 15px 15px;
}

.clip-form .control-group {
  margin-top: 15px;
}

.clip-form .controls {
  margin-top: 10px;
}

.clip-form .control-label {
  padding-left: 0 !IMPORTANT;
}

.clip-form legend {
  font-size: 24px;
  font-weight: bold;
}

.clip-form .control-input {
  border-color: #C8C8C8;
  box-shadow: none !important;
}

.clip-form .control-input:focus {
  border-color: #0082DF;
}

.clip-form legend {
  padding-left: 20px;
}

.clip-form .control-label {
  width: 20px;
  text-align: right;
  padding-left: 20px;
  font-weight: bold;
}

.form-control {
  width: 100%;
}

.well {
  position: relative;
  margin: 15px;
  padding: 39px 19px 14px;
  *padding-top: 19px;
  background-color: #fff;
  border: 1px solid #ddd;
  border-radius: 4px;
}

.well:after {
  content: "Clips";
  position: absolute;
  top: -1px;
  left: -1px;
  padding: 3px 7px;
  font-size: 12px;
  font-weight: bold;
  background-color: #f5f5f5;
  border: 1px solid #ddd;
  color: #9da0a4;
  border-radius: 4px 0 4px 0;
}

.well .table {
  width: 100%;
}

.well .table .delete {
  width: 50px;
  text-align: "center";
}

.well .table tr td a:hover {
  text-decoration: none;
}
